REGISTRY=
DOCKERHUB=

COUCHDB_USER=
COUCHDB_PASSWORD=

COUCHDB_URL=
DIALOG_MODEL=

DIALOG_URL=
SUMMARY_MODEL=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

RECOMMEND_MODEL=
CATEGORY_URL=
MYSQL_URL=

REACT_APP_API_URL=
